.App {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #030712;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
